## Ignore files

##
## BUILDING
##
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
dist/

##
## TESTING
##
[Tt]est[Rr]esult*/
test-results/
*.coverage
*.coveragexml

.playwright-mcp/
playwright-report/
playwright/

# Benchmark
BenchmarkDotNet.Artifacts/

# Package managers
node_modules/

# IDE and user preferences
.idea/
.vs/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.DotSettings
*.iml
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# .NET project sensitive

**/Properties/launchSettings.json
*.publishsettings

# OS artifacts
.DS_Store
~*.xlsx

# Misc. other
.bundle/
.config/
.angular/
.codacy/
.ruby-lsp/
.vitepress/cache/
.vitepress/dist/
_site/
vendor/
coverage/
