# top-most EditorConfig file
root = true

# global baselines
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 2
tab_width = 2

max_line_length = 150

[*.cs]

tab_width = 4
indent_size = 4

# File headers are disabled
file_header_template = unset

# Organize 'using' directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Allow singular 'using' directive
dotnet_style_namespace_match_folder = false:none

# Don't require accessibility modifiers
dotnet_diagnostic.IDE0058.severity = none
