root = false

# TEMP: until Roslynator is updated to address new language syntax
#
# BufferList.cs(47,13): error CS0103: The name 'field' does not exist in the current context
# BufferList.cs(49,39): error CS0103: The name 'field' does not exist in the current context
# BufferList.cs(36,16): error CS8652: The feature 'field keyword' is currently in Preview and *unsupported*.
# To use Preview features, use the 'preview' language version.

dotnet_diagnostic.CS0103.severity = none
dotnet_diagnostic.CS8652.severity = none
