---
---
// JEKYLL THEME STYLE OVERRIDES

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 40em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "jekyll-theme-cayman";

// https://material.io/resources/color
// https://www.materialpalette.com/colors
// using GREY, BLUE, and LIGHT GREEN palettes
$color-primary: #424242;
$color-primary-dark: #212121;
$color-primary-light: #e0e0e0;
$color-primary-hover: #bdbdbd;
$color-accent: #33691e;
$color-body-font: #424242;
$color-code: #212121;
$color-rouge: #f8f8f8; // code block backgrounds

$mobile-breakpoint: 24em;

@mixin mobile {
  @media screen and (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

// HEADER

.page-header {
  padding: 10px;
  background-color: $color-primary;
  background-image: linear-gradient(120deg, $color-primary, $color-primary-dark);
}

.project-name {
  color: $color-primary-light;
  font-size: 2.2rem;
  line-height: 1.5rem;
  margin: 12px 0;

  // adjust for screen size
  @include small {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: unset;

    &:hover {
      color: $color-primary-hover;
    }
  }
}

.project-tagline {
  font-size: 1rem;
  margin: 12px 0;

  // adjust for screen size
  @include small {
    font-size: 0.9rem;
  }
}

// BUTTONS

.btn-container {
  margin: 12px 0;
}

.btn {
  margin: 0;

  @include small {
    display: inline-block;
    width: auto;
    padding: 0.6rem 0.9rem;

    +.btn {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
}

.if-large {
  display: inline;

  @include small {
    display: none;
  }
}

.not-mobile {
  @include mobile {
    display: none;
  }
}

// TYPOGRAPHY

h1 {
  font-size: 2rem;
  line-height: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.1rem;
}

.main-content {

  padding-top: 0;

  // base fonts
  color: $color-body-font;

  // headers
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $color-primary-dark;
  }

  h1 {
    margin-top: 0;
    padding-top: 32px;
  }

  // paragraphs and list items
  p,
  li {

    // inline code
    code {
      font-size: 1.0rem;
    }
  }

  // links
  a {
    text-decoration: none;
    color: #1565c0;

    &:hover {
      text-decoration: underline;
      color: #1e88e5;
    }
  }

  // emoji
  img.emoji {
    height: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
  }

  // lists
  ul,
  ol {
    li {
      padding-bottom: 6px;
    }
  }

  // tables
  td,
  th {
    font-size: 1rem;

    code {
      font-size: 1rem;
    }
  }

  td {
    vertical-align: top;
  }

  // quote blocks
  blockquote {
    color: $color-primary-dark;
    margin-inline-end: auto;
    background-color: $color-rouge;
    padding: 1rem 0.5rem 1rem 1rem;
    font-size: 1rem;
  }

  // code blocks
  .highlight {
    color: $color-code;
    background-color: $color-rouge;
  }

  .highlighter-rouge {
    background-color: $color-rouge;
  }

  pre {
    color: $color-code;
    background-color: $color-rouge;

    code {
      color: $color-code;
    }
  }

  code {
    // baseline font color
    color: $color-code;
    font-size: 1.1rem;

    // comments
    .c,
    .c1,
    .cm,
    .go {
      color: $color-accent;
    }

    // normal text and objects/types
    // and namespaces
    .n,
    .nb,
    .nn,
    .gp {
      color: $color-code;
    }

    // parentheses and brackets
    .p {
      color: #616161;
    }

    // base declarations (using, public, etc)
    .k {
      font-weight: normal;
      color: #1565c0;
    }

    // base types (int, decimal, etc)
    .kt {
      font-weight: normal;
      color: #1565c0;
    }

    // normal commandline
    .nv,
    .nx {
      color: $color-code;
    }

    // normal functions/classes
    .nc,
    .nf {
      font-weight: normal;
      color: #b71c1c;
    }

    // string and constant values
    .s,
    .m {
      color: #d32f2f;
    }
  }
}

// CONTRIBUTORS

.d-inline-block {
  display: inline-block !important;
}

.list-style-none {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;

  li {
    &::before {
      display: none !important;
    }
  }
}

.circle {
  border-radius: 50%;
}

// CYCLOTRON (prev/next indicator nav)
.cyclotron {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 0.8;
  float: right;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  // .prev { }
  .next {
    padding-left: 1rem;
  }
}

// FOOTER / EDIT PAGE
.footer {
  margin-top: 3rem;
  font-size: 0.9rem;

  .footer-body {
    font-size: 0.8rem;

    .btn {
      background-color: $color-primary;
      color: $color-primary-light;
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: 0.9rem;

      &:hover {
        background-color: $color-primary-hover;
        text-decoration: none;
      }
    }
  }
}


// CHOICE and SELECTION

// pipe style lists (used in footer)

.pipe-list {
  padding-top: 0 !important;
  line-height: 1.5em;
  text-align: center;

  li {
    display: inline;
    white-space: nowrap;

    &:not(:last-child):after {
      content: " | ";
    }
  }
}

.choice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  :first-child { // override base
    margin-top: auto;
  }

  margin: 25px auto;
}

.choice-card {

  display: flex;
  flex-direction: column;

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1.3;

  width: 9.4rem;
  height: 6.5rem;

  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 1.2rem;

  @include small {
    display: block;
    text-align: left;

    width: 100%;
    height: auto;

    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow:
      0px 10px 10px -3px rgba(0, 0, 0, 0.2),
      0px 16px 20px 1px rgba(0, 0, 0, 0.14),
      0px 6px 28px 2px rgba(0, 0, 0, 0.12);

    background-color: $color-rouge;
    text-decoration: none !important;
    color: $color-accent;
    cursor: pointer;
  }

  &:active {
    box-shadow:
      0px 15px 15px -3px rgba(0, 0, 0, 0.2),
      0px 24px 30px 1px rgba(0, 0, 0, 0.14),
      0px 9px 40px 2px rgba(0, 0, 0, 0.12);

    background-color: $color-primary-light;
  }

  .choice-body {
    color: $color-body-font;
    font-size: 1.0rem;

    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
