# Code analysis suppressions for TOOLS only
# and are replicated in tests/Directory.Build.props
root = false

[*.cs]
dotnet_diagnostic.CA1303.severity = none   # Do not pass literals as localized parameters
dotnet_diagnostic.CA1707.severity = none   # Identifiers should not contain underscores
dotnet_diagnostic.CS1591.severity = none   # Missing XML comment for publicly visible type or member

# Roslynator suppressions for tool code
dotnet_diagnostic.RCS1129.severity = none  # Remove redundant field initialization
dotnet_diagnostic.RCS1140.severity = none  # Add exception to documentation comment
dotnet_diagnostic.RCS1141.severity = none  # Add 'param' element to documentation
dotnet_diagnostic.RCS1142.severity = none  # Add 'typeparam' element to documentation
dotnet_diagnostic.RCS1161.severity = none  # Enum should declare explicit values
