name: Deploy website

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: docs-website

permissions:
  contents: read

env:
  NODE_VERSION: "24.12.0"
  PNPM_VERSION: "10.27.0"

jobs:
  deploy:
    name: Cloudflare Pages
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: docs

    environment:
      name: stockindicators.dev
      url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # required for proper Last Updated page dates

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install pnpm packages
        run: pnpm install --frozen-lockfile

      - name: Define tag
        id: tag
        run: echo "version=$(date +'%Y.%m.%d')-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Build site (production)
        if: github.ref == 'refs/heads/main'
        run: pnpm run docs:build
        env:
          NODE_ENV: production

      - name: Build site (preview)
        if: github.ref != 'refs/heads/main'
        run: pnpm run docs:build

      - name: Publish to Cloudflare Pages
        id: deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_KEY }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "latest"
          command: >
            pages deploy docs/.vitepress/dist
            --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME }}
