name: Deploy vNext website

on: workflow_dispatch

concurrency:
  group: docs-website

permissions:
  contents: read

jobs:
  deploy:
    name: Cloudflare Pages
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    environment:
      name: stockindicators.dev
      url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 'latest'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Define tag
        id: tag
        run: echo "version=$(date +'%Y.%m.%d')-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Replace cache markers
        uses: jacobtomlinson/gha-find-replace@f1069b438f125e5395d84d1c6fd3b559a7880cb5
        with:
          find: "YYYY.MM.DD"
          replace: "${{ steps.tag.outputs.version }}"
          regex: false

      - name: Build site (production)
        if: github.ref == 'refs/heads/main'
        env:
          MKDOCS_ENV: production
        run: mkdocs build

      - name: Build site (preview)
        if: github.ref != 'refs/heads/main'
        env:
          MKDOCS_ENV: preview
        run: mkdocs build

      - name: Publish to Cloudflare Pages
        id: deploy
        if: github.ref != 'refs/heads/v3'
        uses: cloudflare/wrangler-action@v3.1.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_KEY }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "latest"
          command: >
            pages deploy docs/site
            --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME }}
