name: Deploy website

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: docs-website

permissions:
  contents: read

jobs:
  deploy:
    name: Cloudflare Pages
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs

    environment:
      name: stockindicators.dev
      url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: docs/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Define tag
        id: tag
        run: echo "version=$(date +'%Y.%m.%d')-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Build site (production)
        if: github.ref == 'refs/heads/main'
        run: npm run docs:build
        env:
          NODE_ENV: production

      - name: Build site (preview)
        if: github.ref != 'refs/heads/main'
        run: npm run docs:build

      - name: Publish to Cloudflare Pages
        id: deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_KEY }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "latest"
          command: >
            pages deploy docs/.vitepress/dist
            --project-name=${{ vars.CLOUDFLARE_PROJECT_NAME }}
