name: Website a11y

on:
  pull_request:
    branches: ["*"]
    paths:
      - docs/**
      - .github/workflows/test-website-a11y.yml

# Prevent multiple concurrent runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  NODE_VERSION: "24.11.1"
  PNPM_VERSION: "10.25.0"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install pnpm packages
        run: pnpm install --frozen-lockfile

      - name: Build site
        run: pnpm run docs:build

      - name: Serve site
        run: pnpm run docs:preview &

      - name: Wait for server
        run: sleep 5

      - name: Show environment
        run: pnpm dlx pa11y --environment

      - name: Test accessibility
        run: >
          pnpm dlx pa11y-ci
          --sitemap http://localhost:4173/sitemap.xml

      - name: Kill site (failsafe)
        if: always()
        run: pkill -f vitepress
