name: Test Indicators

on:
  push:
    branches:
      - "main"
      - "v[0-9]*"
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions:
  contents: read  # Required for checkout
  checks: write   # Required for test results

jobs:
  test:
    name: unit tests
    runs-on: ubuntu-latest

    env:
      TARGET_FRAMEWORK: net10.0

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x"
          dotnet-quality: "ga"
          cache: true
          cache-dependency-path: "**/packages.lock.json"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ">=24.10.0"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install npm dependencies
        run: npm install

      - name: Check .NET code formatting
        run: dotnet format --verify-no-changes

      - name: Check Markdown linting
        run: npm run lint:md

      - name: Build library
        run: >
          dotnet build
          --configuration Release
          --property:ContinuousIntegrationBuild=true
          -warnAsError

      - name: Test indicators
        run: >
          dotnet test
          --configuration Release
          --settings tests/tests.unit.runsettings
          --results-directory ./test-results
          --property:TestFramework="${{ env.TARGET_FRAMEWORK }}"
          --no-build
          --verbosity normal
          --logger trx
          --collect:"XPlat Code Coverage"

      - name: Post test results
        uses: dorny/test-reporter@v2.1.1
        if: always()
        with:
          name: Test results
          path: ./test-results/**/*.trx
          reporter: dotnet-trx
        continue-on-error: true

      - name: Publish coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        if: success() && github.actor != 'dependabot[bot]'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./test-results/**/coverage.cobertura.xml
        continue-on-error: true
