name: Website URLs

on:
  pull_request:
    branches: ["*"]
    paths:
      - docs/**
      - .github/workflows/test-website-links.yml

# Prevent multiple concurrent runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: docs/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: npm run docs:build

      - name: Install htmlproofer
        run: gem install html-proofer

      - name: Test for broken URLs
        run: >
          htmlproofer .vitepress/dist
          --no-enforce-https
          --no-check-external-hash
          --ignore-status-codes "0,302,403,406,408,429,503,999"
          --ignore-urls "/fonts.gstatic.com/"
