name: Website URLs

on:
  pull_request:
    branches: ["*"]
    paths:
      - docs/**
      - .github/workflows/test-website-links.yml

# Prevent multiple concurrent runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: docs
    env:
      BUNDLE_GEMFILE: ${{github.workspace}}/docs/Gemfile
      JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.276.0
        with:
          ruby-version: 3.3
          bundler-cache: true

      - name: Install dependencies
        run: gem install html-proofer

      - name: Replace "data-src"
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "data-src"
          replace: "src"
          regex: false

      - name: Use 'localhost'
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "https://dotnet.stockindicators.dev"
          replace: "http://127.0.0.1:4000"
          regex: false

      - name: Build site
        run: bundle exec jekyll build

      - name: Serve site
        run: bundle exec jekyll serve --port 4000 --detach

        # see help in setup step
      - name: Test for broken URLs
        run: >
          htmlproofer _site
          --no-enforce-https
          --no-check-external-hash
          --ignore-status-codes "0,302,403,406,408,429,503,999"
          --ignore-urls "/fonts.gstatic.com/"

      - name: Kill site (failsafe)
        if: always()
        run: pkill -f jekyll
