name: Test Indicators

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions:
  contents: read   # Required for checkout
  actions: read    # Required for workflow runs
  checks: write    # Required for test results

jobs:
  test:
    name: unit tests
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read
      actions: read
      checks: write

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        dotnet-version: ["6.0.x", "9.0.x"]

    env:

      # identifying primary configuration so only one reports coverage
      IS_PRIMARY: ${{ matrix.os == 'ubuntu-latest' && matrix.dotnet-version == '9.0.x' }}

      # Identifies the current target framework
      TARGET_FRAMEWORK: >
        ${{ matrix.dotnet-version == '6.0.x' && 'net6.0' ||
            matrix.dotnet-version == '9.0.x' && 'net9.0' }}

    steps:

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.x"
          dotnet-quality: "ga"

      - name: Build library
        run: >
          dotnet build
          --configuration Release
          --property:ContinuousIntegrationBuild=true
          -warnAsError

      - name: Test indicators
        run: >
          dotnet test
          --configuration Release
          --settings tests/tests.unit.runsettings
          --results-directory ./test-results
          --property:TestFramework="${{ env.TARGET_FRAMEWORK }}"
          --no-build
          --verbosity normal
          --logger trx
          --collect:"XPlat Code Coverage"

      # the remaining steps are only needed from one primary instance

      - name: Post test summary
        uses: dorny/test-reporter@v1
        if: env.IS_PRIMARY == 'true' && always()
        with:
          name: Test results
          path: ./test-results/**/*.trx
          reporter: dotnet-trx

      - name: Publish coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        if: env.IS_PRIMARY == 'true'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./test-results/**/coverage.cobertura.xml
