name: Examples

on:
  push:
    branches:
      - "main"
      - "v[0-9]*"
    paths:
      - docs/examples/**
  pull_request:
    branches: ["*"]
    paths:
      - docs/examples/**
      - ".github/workflows/test-examples.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x"
          dotnet-quality: "ga"
          cache: true
          cache-dependency-path: "**/packages.lock.json"

      - name: Build examples
        run: >
          dotnet build docs/examples/Examples.sln
          --configuration Release
          --property:ContinuousIntegrationBuild=true
          -warnAsError
